{% extends '_layouts/base.html' %}
{%block page_content %}
<div class="form-container control-group errors">
	{%if errors %}
		{{errors}}
	{%endif%}
	<form role="form" action="{{action}}" method="post">
	{% csrf_token %}
		{{ form.non_field_errors }}
		{% include "_layouts/form_layout.html" %}
		<input type="hidden" value="{{next}}" name="next">
		<button type="submit" class="btn btn-default">Login</button>
	</form>
	<a href="{%url 'blog:register'%}">No acccount yet? Register</a>
</div>
{% endblock %}