
{% extends "_layouts/base.html" %}
{% block page_title %}Blog posts | {% endblock %}

{% block page_content %}
{% if messages %}

<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class='form-container'>
	<h2>Blog Posts</h2>
	<ul>
	    {% for post in post_list %}
	    <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
	    {% empty %}
	    <li>Sorry, no posts yet. Check back soon!</li>
	    {% endfor %}
	</ul>
	<a href="{%url 'blog:new_post'%}">Write a new post</a>
</div>
<div class='userlist'>
	<h2>View other user posts</h2>
	{%for user in user_list%}
		<p style="text-align:center"><a href="{% url 'blog:user_post' user.id %}">{{user.username}}</a></p>
	{%endfor%}
</div>
{% endblock %}
	